{% extends 'users/base.html' %}


{% block title %}
    HPRMS | Student Allocation
{% endblock title %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Student Allocation</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section style="padding-left: 5px; padding-right: 5px;">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i>Student Allocation</i></h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>INDEX No</th>
            <th>ID</th>
            <th>Student</th>
            <th>Room Number</th>
            <th>Block Name</th>
            <th>Hostel Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            {% for students in allocate_room %}
            <tr style="background-color: #fff;">
                  <td>
                      <strong>
                          {{ forloop.counter }}
                      </strong>
                  </td>
                  <td>{{students.id}}</td>
                  <td>{{students.student}}</td>
                  <td>{{students.room}}</td>
                  <td>{{students.block_name}}</td>
                  <td>{{students.hostel_name}}</td>
                  <td>
                    <a href="{% url 'update-student-allocation' students.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete-student-allocation' students.id %}" class="btn btn-danger">Delete</a>
                  </td>

                </tr>
    
            {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th>INDEX No</th>
            <th>ID</th>
            <th>Student</th>
            <th>Room Number</th>
            <th>Block Name</th>
            <th>Hostel Name</th>
            <th>Action</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    </section>
    {% endblock content %}
    