{% extends 'users/index.html'%}
{% block title %}Reset Password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

      <!-- Navbar -->
<section class="h-100 h-custom">
  <div id="login">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 mt-5 pt-5">
      <div class="card col-lg-4">
        <div class="card-header">
          <h3 class="card-title">
            Password reset
          </h3>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">

              <form id="reset-form" method="post" action="">{% csrf_token %}

                            <!-- {% if messages %}
                            {% for message in messages %}

                            <div class="alert alert-warning">
                            {{ message }}

                            <button class="closebtn" onclick="this.parentElement.style.display='none';">&times;</button>
                        </div>
                            {% endfor %}
                            {% endif %} -->

                            {{ form|crispy }}

                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary btn-md" value="Reset password">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</section>


{% endblock %}